@model DutchTreat.Models.ContactModel

@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>

<div>
    <h3>Thank you @Model.FirstName @Model.LastName</h3>
    <hr />
    <p>A copy has been sent to @Model.Email</p>
</div>
